{% extends "templates/login.html" %}
{% block main %}
  <div class='container branding'>
    <h1>Logilab-Training</h1>
  </div>
  {{ super() }}

{% endblock %}

{% block stylesheet %}
  {{ super() }}
  <style>
   body {
     background-color: snow1;
     background-image: url('https://www.logilab.fr/file/1399/raw/banner2.png');
     background-repeat: no-repeat;
     background-position: 70% 50%;
     background-size: 90%;
   }
   h1
   {
     font-size: 7em;
     font-family:Roboto;
     color: gray40;
     padding:22px;
     text-align:center;
     margin:22px;
     text-shadow: 1px 1px #e6820e;
   }
   .container {
     width: 1520px;
   }
   #login-main {
     height: 100%;
   }
   #login-main form {
     width: 390px;
   }
   #login-main .auth-form-header {
     color: black;
     background: silver;
     border-color: silver;
   }
   .form-control {
     border-bottom-color: silver;
   }

   .btn-jupyter.active, .btn-jupyter:active, .open>.dropdown-toggle.btn-jupyter {
     border-color: silver;
     outline-color: silver;
     background-color: silver;
   }
   #login-main .form-control:focus, #login-main input[type=submit]:focus {
     box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px silver;
     border-color: silver;
     outline-color: silver;
   }

   .btn-jupyter, .btn-jupyter:focus{
     color: black !important;
     background-color: silver !important;
     border-color: silver !important;
   }
  </style>
{% endblock %}
